@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes lineAnimation {
  0% {
    opacity: 0;
    transform: scale(0.5);
  }
  20% {
    opacity: 1;
    transform: scale(1.2);
  }
  80% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(1.1);
  }
}

.animate-lineAnimation {
  animation: lineAnimation 1.5s ease-in-out;
}

.text-shadow-lg {
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.5), 0 0 20px rgba(0, 0, 0, 0.3);
}